<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../../public/css/home.css">
</head>
<body>
    <div class="container">
        <h1>Proyecto Backend</h1>
        <p>Comisión: 53095</p>
        <p>Notas del autor: No, no se hacer fronts.</p>
    </div>
</body>
</html>
